#logo {
    max-width: 1800px;
    max-height: auto;
    display: flex;
    justify-content: center;
}

.title {
    position: relative;
    text-align: center;
    font-size: 200px;
    margin-top: -60px;
}

.discription {
    position: relative;
    text-align: center;
    margin-top: -120px;
}

.Branding {
    margin-top: 10px;
    text-align: start;
    margin-left: 20px;
}

.info {
    position: relative;
    font-size: 20px;
    margin-top: -120px;
}

.ProfielContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.ProfielAfbeelding {
    display: block;
    max-width: 1000px;
    height: auto;
    margin: 0 20px;
    position: relative;
}

.ProfielAfbeelding::after {
    background-color: rgba(255, 0, 0, 0.5);
}

.ProfielTekst, .ProfielTekstRight {
    max-width: 380px;
    font-size: 18px;
    line-height: 1.2;
    position: relative;
    text-align: left;
    top: -200px;
}

.ProfielTekst {
    position: relative;
    text-align: left;
}

.ProfielTekstRight {
    position: relative;
    text-align: left;
}

h3 {
    font-size: 70px;
    margin-bottom: 0%;
}

.ProjectContainer {
    display: flex; 
    justify-content: center; 
    gap: 180px; 
    margin-top: 20px;
    text-align: center;
}

.ProjectContainer h3 {
    font-size: 24px; /* Zorg ervoor dat de tekst consistent blijft */
    margin: 0;
    line-height: 1.2; /* Zorg voor een consistente regelhoogte */
    height: 40px; /* Stel een vaste hoogte in die past bij de grootste font */
    
}

body {
    font-family: 'Habibi', serif; /* Standaard font voor de meeste tekst */
    background-color: #fdf5e6; /* Lichtgele kleur voor een oud-krant effect */
    background-image: url('PaperTexture.jpg'); /* Textuurafbeelding */
    background-size: cover; /* Zorgt ervoor dat de textuur de hele pagina bedekt */
    background-repeat: no-repeat; /* Voorkomt herhaling van de textuur */
    background-position: center ; /* Startpositie van de achtergrond */
    color: #333; /* Donkergrijze tekstkleur voor contrast */
}


.ProfielTekst, .ProfielTekstRight, .ProjectContainer h3, .ProjectContainer p {
    font-family: 'Habibi', serif;
}


.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-image: url('PaperTexture.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform: translateY(0);
    will-change: transform;
  }

  .ProjectItem h3 {
    font-family: 'Habibi', serif;
    width: 300px;
    cursor: pointer;
    text-decoration: none;
}

.ProjectItem {
    display: block; /* Zorg ervoor dat de <a> zich gedraagt als een blok */
    text-decoration: none; /* Verwijder de standaard onderstreping van links */
    color: inherit; /* Zorg ervoor dat de tekstkleur hetzelfde blijft */
    cursor: pointer; /* Verander de cursor naar een klikbare hand */
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ProjectItem:hover {
    transform: scale(1.05);

}


.ProjectenText {
    font-size: 24px;
    margin-top: 200px;
    text-align: start;
    margin-right: 200px;

}

.ProjectenTextBranding {
    font-size: 24px;
    max-width: 500px;
    margin-left: 20px;

}

.TextAndImageContainer {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

.TextContent {
    flex: 1; 
}

.BorisSchmidtLogo {
    max-width: 1000px;
    height: auto; 
    margin-left: 200px;
    margin-top: 200px;
}