#logo {
    max-width: 1800px;
    max-height: auto;
    display: flex;
    justify-content: center;
}

.title {
    position: relative;
    text-align: center;
    font-size: 200px;
    margin-top: -60px;
}

.discription {
    position: relative;
    text-align: center;
    margin-top: -120px;
}

.ProfielContainer {
    position: relative;
    margin-top: 0px;
}

.ProfielAfbeelding {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    height: auto;
}

.ProfielTekst {
    position: absolute;
    top: 250px;
    left: 20px;
    transform: translateY(-50%);
    max-width: 380px;
    font-size: 18px;
    line-height: 1.2;
}

h3 {
    font-size: 70px;
    margin-bottom: 0%;
}